

@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/html";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: 6px;
}

.title {
  @include typescale.title-medium;
}

.body {
  @include typescale.body-small;
  @include common.flex-column;
  @include html.preview;

  color: var(--md-sys-color-on-surface);
  gap: calc(var(--md-sys-typescale-body-small-line-height) / 2);
}

.list-block {
  @include typescale.body-small;
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.list-item {
  @include common.flex-row;
  align-items: center;
  gap: common.$spacing-small;
}
