
@use "../../sass/colors";
@use "../../sass/common";

:host {
  @include common.full-percentage;
  @include common.flex-row;
}

.content {
  background: var(--md-sys-color-surface-variant);

  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: auto;

  &:has(header-component) {
    padding-top: calc(common.$header-height + common.$sidenav-padding);
  }
}

@include common.viewport-small {
  .content:has(header-component) {
    padding-top: common.$header-height;
  }
}

.chat-panel {
  @include common.full-percentage;
  flex-grow: 1;
  max-width: common.$chat-column-max-width;
}

.notes-panel,
.history-panel,
.home-panel,
.projects-panel,
.settings-panel,
.highlights-panel {
  @include common.full-percentage;
  flex-grow: 1;
  max-width: common.$main-column-max-width;
}
