

@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/html";
@use "../../sass/typescale";

$bubble-radius: 20px;
$bubble-radius-small: 2px;

.bubble {
  @include common.flex-column;
  justify-content: end;

  gap: common.$spacing-small;
}

.chat-bubble {
  @include common.flex-column;
  @include typescale.body-small;
  align-items: end;
  gap: common.$spacing-medium;
  padding: common.$spacing-medium common.$spacing-large;
  background: var(--md-sys-color-surface-container-low);
  border-radius: $bubble-radius $bubble-radius $bubble-radius-small
    $bubble-radius;
  max-width: 80%;
  width: max-content;
  align-self: end;

  &.model {
    background: var(--md-sys-color-secondary-container);
    border-radius: $bubble-radius $bubble-radius $bubble-radius
      $bubble-radius-small;
    align-self: start;
  }

  &.pressed {
    animation: 0.25s linear bounce;
  }
}

.chat-body {
  @include common.flex-column;
  @include html.preview;
}

.referenced-notes {
  @include typescale.label-small;
  cursor: pointer;
}

.action-bar--wrapper {
  @include common.flex-row;
  justify-content: end;

  height: 0;
  width: 100%;

  &.model {
    justify-content: start;
  }
}

.action-bar {
  @include common.flex-row;
  gap: common.$spacing-medium;
  justify-content: end;
  height: 0;
  overflow: hidden;
  width: 100%;

  &.hover {
    display: flex;
    height: calc(var(--md-sys-typescale-body-small-line-height) * 2);
    transition-delay: 0.3s;
    transition-property: height;
  }
}

.model {
  .action-bar {
    justify-content: start;
  }
}

@keyframes bounce {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(0);
  }
}
