

@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xxl;
  padding: common.$panel-component-padding;
  height: 100%;
}

.tab-menu {
  @include common.flex-row;
  align-items: center;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  width: max-content;
  z-index: 1;
}
