

@use "./sass/colors";
@use "./sass/common";
@use "./sass/typescale";
@use "./sass/variables";

* {
  @include common.default;
}

.app-wrapper {
  @include colors.winterglow-light;
  @include typescale.app-small;

  align-items: center;
  background: var(--md-sys-color-surface-bright);
  color: var(--md-sys-color-on-surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.size--small {
  @include typescale.app-small;
}

.size--medium {
  @include typescale.app-medium;
}

.size--large {
  @include typescale.app-large;
}

.palette--winterglow-dark {
  @include colors.winterglow-dark;
  transition: background 0.75s ease-in-out, color 0.75s ease-in-out;
}

.palette--winterglow-light {
  @include colors.winterglow-light;
  transition: background 0.75s ease-in-out, color 0.75s ease-in-out;
}

.palette--sugarplum-dark {
  @include colors.sugarplum-dark;
  transition: background 0.75s ease-in-out, color 0.75s ease-in-out;
}

.palette--sugarplum-light {
  @include colors.sugarplum-light;
  transition: background 0.75s ease-in-out, color 0.75s ease-in-out;
}

main {
  @include common.full-percentage;
}
