

@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
}

.content {
  @include common.flex-column;
  gap: common.$spacing-xxl;
}

h1 {
  @include typescale.title-large;
  margin: 0;
}

p {
  @include typescale.body-small;
  margin: 0;
}

.action-buttons {
  @include common.flex-row;
  align-items: center;
  flex-wrap: wrap;
  gap: common.$spacing-large;
  justify-content: end;
}
