

@use "../../sass/common";
@use "../../sass/typescale";

.card-wrapper {
  display: grid;
  gap: common.$spacing-xl;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: common.$spacing-xxl;
  width: 100%;
}

@include common.viewport-small {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include common.viewport-xsmall {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  @include common.flex-column;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-surface);
  cursor: pointer;
  gap: common.$spacing-medium;
  min-height: 100px;
  padding: common.$spacing-large;

  &.outlined {
    border: 1px solid var(--md-sys-color-outline);
  }

  &.selected {
    border: 3px solid var(--md-sys-color-primary);
  }

  &.template {
    align-items: center;
    background: none;
    border: 2px dashed var(--md-sys-color-outline);
    color: var(--md-sys-color-outline);
    justify-content: center;
  }
}

.card--title {
  @include typescale.title-medium;
}

.card--description {
  @include typescale.body-small;
  color: var(--md-sys-color-on-surface-variant);
}

.card--date {
  @include typescale.label-small;
  margin-bottom: 0;
  margin-top: auto;
}
