

@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  @include common.full-percentage;
  gap: common.$spacing-xxl;
  padding: common.$panel-component-padding;
}

input[type="file"] {
  visibility: hidden;
  width: 0;
}

.action-buttons {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-xl;
}
